body {
	font-family: "Lato","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
	color: #3498db;
}

h1, h2, h3 {
	font-family: 'Pacifico', cursive;
	
}

a {
	color: #3498db;
}

a:hover {
	color: #53BAFF;
}

.container {
	width: 600px;	
}

.bg-blue {
	background: #3498db;
	color: white;
}

.wrapper {
	padding: 20px 0;
}

header {
	box-shadow: 2px 0 5px rgba(0,0,0,0.5);

}

header ul.nav li {
	display: inline-block;
}

header ul.nav li:hover a {
	background: transparent;
}

p {
	  font-weight: 300;
	  font-size: 15px;
	  letter-spacing: 0.03em;
}

footer .container {
	border-top: 1px solid #F1F1F1;
	padding-top: 30px;
}

footer p {
	font-size: 0.85em;
}